body {
  font-family: "Open Sans", arial, sans-serif;
}

.form-container {
  width: 969px;
  height: auto;
 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  
}
.container2 {
  --input-focus: #2d8cf0;
  --input-out-of-focus: #EAE7DC;
  --bg-color: #fff;
  --bg-color-alt: #EAE7DC;
  --main-color: #323232;
  position: relative;
  cursor: pointer;
  
}

.container2 input {
  position: absolute;
  opacity: 0;

}

.checkmark {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--input-out-of-focus);
  transition: all 0.3s;
  margin-right: 15px;
}

.container2 input:checked ~ .checkmark {
  background-color: var(--input-focus);
}

.checkmark:after {
  content: "";
  width: 7px;
  height: 15px;
  position: absolute;
  top: -1px;
  left:4px;
  display: none;
  border: solid var(--bg-color);
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* CSS for checkboxes */
.form-row .label ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-row .label ul li {
  display: inline-block;
  margin-right: 60px;
  padding-bottom: 30px;
}

.container{
  
  margin-right: 0px;
}
.form-container h4 {
  text-align: left;
  padding-left: 140px;
  font-size: large;
}
.form-container label span {
  font-family: Arial, sans-serif; /* Adjusted font family for spans */
  font-size: 14px;
}

.form-container p {
  text-align: left;
  position: relative;
  padding-bottom: 15px;
  padding-left: 140px;
  padding-top: 30px;
}


.form-container p::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.form-container label {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns titles and input fields vertically */
  text-align: left;
  padding-left: 20px; /* Adjusted padding */
  margin-top: 30px;
  margin-left: 70px;
 
}

.change{
  padding-bottom: 170px;
}
.form-row {
  width: 100%;
}
.textarea-input{
  height: 200px;
}
.form-row select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.loci{
margin-right: 92px;
}

.form-row select:focus {
  outline: none;
  border-color: #2d8cf0; /* Adjust focus border color */
}
.form-container input[type="text"],
.form-container textarea {
  width: calc(100% - 150px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.baba{
  margin-right: 435px;
}
.form-row input[type="number"] {
  width: 30%;

  padding: 10px;
  padding-right: 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-row input[type="number"]:focus {
  outline: none;
  border-color: #2d8cf0; /* Adjust focus border color */
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 80px; /* Add margin-bottom to create space between the button and the form */
}

.button {
  background-color: #18099f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 45px;
  margin-left: 470px;
  width: 200px;
  height: 47px;
  font-size: large;

}
